<nav class="navbar navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">
    <img src="https://illustoon.com/photo/7626.png" width="30" height="30" class="d-inline-block align-top" alt="">
    LISTS FOR YOU
  </a>
</nav>



<div class="banner banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/free-vector/movie-film-strip-blue-background_1017-33458.jpg);">
  <div class="container list-container">
    <h1> The bests lists, <strong>all </strong><strong>in one place</strong>!</h1>
    <p>Discover your next favorite movie with personalized lists!</p>
    <p> <%= link_to "Create new list", new_list_path, class: "btn btn-outline-primary" %></p>
  </div>
</div>

<div class="container card-container">
  <div class="card-grid">
  <p> <% @lists.each do |list| %> </p>
      <!-- Cards -->
      <div class="card">
        <p> <%= list.name %></p>
        <h3><%= link_to "Go to list", list_path(list), class: "btn btn-primary" %></h3>
      </div>
  <% end %>
  </div>
</div>
